---
layout: default
title: 2048
---

<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<script src="/js/2048.js"></script>
<script src="/js/hammer.min.js"></script>
<script>
 $(Init);
</script>

<style>
#mainDiv{
	width:500px;
	height:550px;
	margin:0 auto;
	padding:25px
}
#cvs{
	margin-top:60px
}
#scp{
	font:bold 20px arial;
	color:gray;
	float:left;
	margin:0
}
#score{
	color:black;
	font:bold 30px arial
}
.rst{
	float:right;
	width:100px;
	height:40px;
	border:none;
	background-color:#cdc1b2;
	font:bold 20px arial
}
</style>

<div id="mainDiv">

<p id="scp">Score: <span id="score">0</span></p>

<button class="rst" onclick="reset()">Reset</button>

<div id="cvs">
<canvas id="canvas" width="450" height="450"></canvas>
</div>

</div>

